params {
    input_dir = "./"                // 包含split文件夹的目录
    task_file = "need_run.task.ID"   // 任务ID文件名
    script_name = "run_dbcan.sh"     // 脚本文件名
    max_parallel = 4                 // 同时并行运行的最大任务数
}

env {
    SLURM_CONF = "/etc/slurm/slurm.conf"
}

// 全局配置（所有profile生效）
log.level = 'ERROR'  // 可选值：TRACE, DEBUG, INFO, WARN, ERROR, OFF

profiles {
    local {
        process.executor = 'local'
        process.maxForks = params.max_parallel
        // 添加全局重试策略
        process.errorStrategy = 'retry'
        process.maxRetries = 3
	//process.time = '2d' 
    }
            
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        process.maxForks = params.max_parallel
        process.clusterOptions = '--ntasks=1 --cpus-per-task=THREADS'

        // 添加全局重试策略
        process.errorStrategy = 'retry'
        process.maxRetries = 3
	//process.time = '2d' 
        env {
                SLURM_CONF = "/etc/slurm/slurm.conf"
        }

	// 添加 executor 特定配置
	executor {
		$slurm {
		queueSize = 30  // 队列大小
		// pollInterval = '60s'  // 轮询间隔
		}
	} 
        // 关键修改：添加 beforeScript 加载 singularity 模块
        process.beforeScript = '''
		export PATH=/project301/zhangyaolong/anaconda3/envs/flow/bin/:$PATH
		export PATH=/usr/bin:/bin:/usr/local/bin:$PATH
		export SLURM_CONF=/etc/slurm/slurm.conf
		module load slurm 2>/dev/null || true
        '''
        
        process.container = '/project301/zhangyaolong/Docker/02.pipeline/myapp_sandbox/'
        
        // containerOptions 可以移到这里
        singularity {
            enabled = true
            autoMounts = true
            //command = 'singularity'
            runOptions = 'BIND_DIR'
        }
    }
}
